<div class="container my-3">
    <h3>Boletim de Atendimento</h3>

    <hr>
    
    <a href="{{URL}}/cadastros/ba/new">
        <button type="button" class="btn btn-success">Cadastrar BA</button>
    </a>
    
    <hr>
    
    {{status}}
    <div class="w-auto" style="height:250px; font-size:0.755em; cursor:pointer;">
    <table class="table table-hover table-striped table-sm">
        <thead>
            <tr>
                <th>BA</th>
                <th>BACKBONE</th>
                <th>GA</th>
                <th>baixa</th>
                <th style="width:200px;">Acões</th>
            </tr>
        </thead>
        <tbody>
            {{itens}}
        </tbody>
    </table>
    </div>
    {{pagination}}
</div>
