<div class="container my-3">
    <h3>Cadastro de BA</h3>

    <hr>
    
    <a href="{{URL}}/cadastros/ba/new">
        <button type="button" class="btn btn-success">Cadastrar BA</button>
    </a>
    
    <hr>
    
    {{status}}
    
    <table class="table table-light table-striped table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>BA</th>
                <th>Backbone</th>
                <th style="width:200px;">Acões</th>
            </tr>
        </thead>
        <tbody>
            {{itens}}
        </tbody>
    </table>
    
    {{pagination}}
</div>
