<div class="container my-3">
    <h4 class="mb-3">Cadastro de BA</h4>

    <hr>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseOne">
                    Carregar CSV
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <div class="row">
                        <div class="input-group">
                            <input type="file" class="form-control form-control-sm" name="arquivo-csv" id="fileupload"
                                aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-primary btn-sm" id="btn-load-file"
                                onclick="renderTableFromFile()">Carregar</button>
                            <div id="progressBar"><span></span></div>
                        </div>
                    </div>
                    <div class="container" id="dados-csv">

                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Preencher Formulario
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <form class="row g-3" method="post">
                        <div class="col-md-3">
                            <label class="form-label" for="ba">Ba:</label>
                            <input class="form-control form-control-sm" name="ba" id="ba" type="text" required />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" for="backbone">Backbone:</label>
                            <input class="form-control form-control-sm" name="backbone" id="backbone" type="text" required />
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" for="mes">Mês:</label>
                            <input class="form-control form-control-sm" name="mes" id="mes" type="text" required />
                        </div>
                        <div class="col-md-1">
                            <label class="form-label" for="estacao">Estação:</label>
                            <input class="form-control form-control-sm" name="estacao" id="estacao" type="text" required />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="mnemonico">Mnt fo:</label>
                            <input class="form-control form-control-sm" name="mnemonico" id="mnemonico" type="text"  required/>
                        </div>
                        <div class="col-md-1">
                            <label class="form-label" for="indicador_fibra">Indicador:</label>
                            <input class="form-control form-control-sm" name="indicador_fibra" id="indicador_fibra" type="text" required />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="abertura">Abertura:</label>
                            <input class="form-control form-control-sm" name="abertura" id="abertura" type="text" required/>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="promessa">Promessa:</label>
                            <input class="form-control form-control-sm" name="promessa" id="promessa" type="text" required/>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="proximo_acionamento">Acionamento:</label>
                            <input class="form-control form-control-sm" name="proximo_acionamento" id="proximo_acionamento" type="text" required/>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="baixa">Baixa:</label>
                            <input class="form-control form-control-sm" name="baixa" id="baixa" type="text" required/>
                        </div>
                        <div class="col-md-1">
                            <label class="form-label" for="sla">Sla:</label>
                            <input class="form-control form-control-sm" name="sla" id="sla" type="text" required />
                        </div>
                        <div class="col-md-1">
                            <label class="form-label" for="cod_atividade">Cod:</label>
                            <input class="form-control form-control-sm" name="cod_atividade" id="cod_atividade" type="text" required />
                        </div>
                        <div class="col-md-4">
                            <label class="form-label" for="obsoi">Obs oi:</label>
                            <textarea class="form-control form-control-sm" name="obsoi" id="obsoi" rows="3" placeholder="Description" required></textarea>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="ga">Ga:</label>
                            <input class="form-control form-control-sm" name="ga" id="ga" type="text" required/>
                        </div>

                        <hr>

                        <div class="col-md-2">
                            <label for="nomecabo" class="form-label">Nome N° cabo:</label>
                            <select class="form-select form-select-sm" name="nomecabo" id="nomecabo" aria-label=".form-select-sm example" required>
                                <option></option>
                                <option value="AAIIT003">AAIIT003</option>
                                <option value="AATT001">AATT001</option>
                                <option value="ADPT218">ADPT218</option>
                                <option value="ADUT003">ADUT003</option>
                                <option value="AEEPKC004">AEEPKC004</option>
                                <option value="AGFAAPC001">AGFAAPC001</option>
                                <option value="ALEAT005">ALEAT005</option>

                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="entre_local" class="form-label">Entre localidades:</label>
                            <select class="form-select form-select-sm" name="entre_local" id="entre_local" aria-label=".form-select-sm example" required>
                                <option></option>
                                <option value="AAIIT003">AAII- X SWQ-LA</option>
                                <option value="AATT001">AAT-SS X SNI-CG</option>
                                <option value="ADPT218">ADP-AB X ADP-BP</option>
                                <option value="ADUT003">ADU-AG X TJS-MO</option>
                                <option value="AEEPKC004">AEE-PK</option>
                                <option value="AGFAAPC001">AGFA-AP</option>
                                <option value="ALEAT005">ALEA-PZ X PNG-AE</option>

                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="numero_cis" class="form-label">N° Cis:</label>
                            <input type="text" class="form-control form-control-sm" name="numero_cis" id="numero_cis" required>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="descricao_trecho" class="form-label">Descrição do trecho:</label>
                            <input type="text" class="form-control form-control-sm" name="descricao_trecho" id="descricao_trecho" required>

                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="causa_rompimento" class="form-label">Causa rompimento:</label>
                            <select class="form-select form-select-sm" name="causa_rompimento" id="causa_rompimento" aria-label=".form-select-sm example" required>
                                <option selected=""></option>
                                <option value="acaoTerceiros">Acao de terceiros</option>
                                <option value="ataqueDe">Ataque de roedores/insetos</option>
                                <option value="atenuacao">Atenuação</option>
                                <option value="caboQueimado">Cabo queimado</option>
                                <option value="cargaAlta">Carga alta/cabo baixo</option>
                                <option value="causaComun">Causa comun</option>
                                <option value="chuvasTemp">Chuvas/Tempestades</option>
                                <option value="semAtuacao">Sem atuação</option>
                                <option value="vandalismo">Vandalismo</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="sub_causa" class="form-label">Sub causa:</label>
                            <select class="form-select form-select-sm" name="sub_causa" id="sub_causa" aria-label=".form-select-sm example" required>
                                <option selected=""></option>
                                <option value="desligamentoEnergia">Desligamento Cia de Energia</option>
                                <option value="podaVegetacao">Poda de Vegetacao</option>
                                <option value="obrasMun">Obras municipais</option>
                                <option value="obrasPar">Obras particulares</option>
                                <option value="acidenteAuto">Acidente automobilistico</option>
                                <option value="erosao">Erosao</option>
                                <option value="quedaArv">Queda de Arvore</option>
                                <option value="descarga">Descarga Atmosferica</option>
                                <option value="furtoVand">Furto/Vandalismo</option>
                                <option value="ataqueInse">Ataque de insetos</option>
                                <option value="ataqueRoe">Ataque de Roedores</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="ba_comum" class="form-label">BA causa comun:</label>
                            <input type="text" class="form-control form-control-sm" name="ba_comum" id="ba_comum" required>
                            <div class="invalid-feedback">
                                BA code required.
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="ha_pendencia35d" class="form-label">Há pendencia 35d?:</label>
                            <select class="form-select form-select-sm" name="ha_pendencia35d" id="ha_pendencia35d" aria-label=".form-select-sm example" required>
                                <option selected=""></option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>                         
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="necessario_jm" class="form-label">Necessario JM?:</label>
                            <select class="form-select form-select-sm" name="necessario_jm" id="necessario_jm" aria-label=".form-select-sm example" required>
                                <option selected=""></option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>                         
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="numero_jm" class="form-label">Num jm:</label>
                            <input type="text" class="form-control form-control-sm" name="numero_jm" id="numero_jm" required>
                            <div class="invalid-feedback">
                                Num jm code required.
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label for="data_abertura" class="form-label">Data abertura janela:</label>
                            <input type="date" class="form-control form-control-sm" name="data_abertura" id="data_abertura" placeholder="" required>
                            <div class="invalid-feedback">
                                Data abertura janela code required.
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="prev_regularizacao" class="form-label">Prev regularização:</label>
                            <input type="date" class="form-control form-control-sm" name="prev_regularizacao" id="prev_regularizacao" placeholder="" required>
                            <div class="invalid-feedback"> Prev regularização code required.</div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label" for="informe_pendencia">Informe pendencia:</label>
                            <textarea class="form-control form-control-sm" name="informe_pendencia" id="informe_pendencia" rows="4" required></textarea>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label" for="material_pendencia">Material pendencia:</label>
                            <textarea class="form-control form-control-sm" name="material_pendencia" id="material_pendencia" rows="4" required></textarea></div>
                        <div class="col-md-3">
                            <label for="resp_pendencia" class="form-label">Resp pendencia 35d:</label>
                            <select class="form-select form-select-sm" name="resp_pendencia" id="resp_pendencia" aria-label=".form-select-sm example" required>
                                <option selected=""></option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" for="prazo">Prazo:</label>
                            <input class="form-control form-control-sm" name="prazo" id="prazo" type="text" required />
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label" for="justificar_prazo">Justificar fora do prazo:</label>
                            <textarea class="form-control form-control-sm" name="justificar_prazo" id="justificar_prazo" rows="4" required></textarea>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label" for="Cirq_cli_envol">Cirq. e Cli envolvidos:</label>
                            <textarea class="form-control form-control-sm" name="Cirq_cli_envol" id="Cirq_cli_envol" rows="4" required></textarea>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label" for="descricao_ocorrido">Descrição do ocorrido:</label>
                            <textarea class="form-control form-control-sm" name="descricao_ocorrido" id="descricao_ocorrido" rows="4" required></textarea>
                        </div>

                        <hr>

                        <div class="col-md-3">
                            <label class="form-label" for="tempo_cgr">Tempo CGR/ENC:</label>
                            <inpup class="form-control form-control-sm" name="tempo_cgr" id="tempo_cgr" type="text"/>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="numero_bo">Numero prot bo:</label>
                            <input class="form-control form-control-sm" name="numero_bo" id="numero_bo" type="text"/>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="nao_abertura_bo">Obs não abertura bo:</label>
                            <input class="form-control form-control-sm" name="nao_abertura_bo" id="nao_abertura_bo" type="text"/>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="remanejo_fibra">Remanejo de fibra de:</label>
                            <input class="form-control form-control-sm" name="remanejo_fibra" id="remanejo_fibra" type="text"/>
                        </div>

                        <div class="col-2">
                            <h6 class="mb-2">Usou cabo?</h6>
                            <div class="form-check">
                                <input id="usou_cabo" name="usou_cabo" type="radio" class="form-check-input"/> 
                                <label class="form-check-label" for="sim">Sim</label>
                            </div>
                            <div class="form-check">
                                <input id="usou_cabo" name="usou_cabo" type="radio" class="form-check-input" />
                                <label class="form-check-label" for="não">Não</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="lote_cabo">Lote cabo:</label>
                            <input class="form-control form-control-sm" name="lote_cabo" id="lote_cabo" type="text"/>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label" for="metro_cabo">Metro cabo utilizado:</label>
                            <input class="form-control form-control-sm" name="metro_cabo" id="metro_cabo" type="text"/>
                        </div>
                        <div class="col-md-2">
                            <label for="cod_sap_cabo" class="form-label">Codigo sap cabo:</label>
                            <select class="form-select form-select-sm" name="cod_sap_cabo" id="cod_sap_cabo" aria-label=".form-select-sm example" >
                                <option selected=""></option>
                                <option value="caboOpt1">300113 // CABO OPTICO CFOA-SM-AS-120-G-36</option>
                                <option value="caboOpt2">300533 // CABO OPTICO CFOA-SM-AS-200-G-12</option>
                                <option value="caboOpt3">300534 // CABO OPTICO CFOA SM-AS-200-G-06</option>
                                <option value="caboOpt4">300535 // CABO OPTICO CFOA-SM-DD-G-36</option>
                                <option value="caboOpt5">300536 // CABO OPTICO CFOA-SM-DD-G-24</option>
                                <option value="caboOpt6">300537 // CABO OPTICO CFOA-SM-DD-S-06</option>
                                <option value="caboOpt7">300538 // CABO OPTICO CFOA-SM-DD-S-12</option>
                                <option value="caboOpt8">300539 // CABO OPTICO CFOA-SM-DD-G-18</option>
                                <option value="caboOpt9">300544 // CABO FIBRA OPT CFOA-SM-DPE-G-36 FB</option>
                                <option value="caboOpt10">300546 // CABO OPTICO CFOA-SM-DD-G-48</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="coordenadas_cabo">Coordenadas
                                cabo:</label>
                                <input class="form-control form-control-sm" name="coordenadas_cabo" id="coordenadas_cabo" type="text" />
                            </div>

                        <div class="col-md-3">
                            <label class="form-label" for="quantidade_cx">Quantidade caixa usada:</label>
                            <input class="form-control form-control-sm" name="quantidade_cx" id="quantidade_cx" type="text" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="numero_emenda">Numero emenda ENPE:</label>
                            <input class="form-control form-control-sm" name="numero_emenda" id="numero_emenda" type="text" />
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="coordenadas_enpe">Coordenadas ENPE:</label>
                            <input class="form-control form-control-sm" name="coordenadas_enpe" id="coordenadas_enpe" type="text" />
                        </div>
                        <div class="col-md-3"><label class="form-label" for="endereco_enpe">Endereço ENPE/CABO:</label>
                            <input class="form-control form-control-sm" name="endereco_enpe" id="endereco_enpe" type="text" />
                        </div>

                        <div class="mb-3">
                            <label for="add_croqui" class="form-label">
                                <h5>ADICIONAR CROQUI:</h5>
                            </label>
                            <input class="form-control form-control-sm" type="file" name="add_croqui" id="add_croqui" multiple>
                        </div>

                        <div class="col-md-2">
                            <label for="supervisor" class="form-label">Supervisor:</label>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="supervisor" id="supervisor" >
                                <option selected=""></option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <hr class="my-5">

                        <button class="w-100 btn btn-success btn-lg" type="submit">Enviar Cadastro</button>
                    </form>
                </div>
            </div>
        </div>

    </div>