<div class="container my-3">
    <h3>{{title}} <img src="/resources/images/logo2.jpg" class="rounded me-4"></h3>
    

    <hr>
    
    <a href="{{URL}}/cadastros/boletimAnalise">
        <button type="button" class="btn btn-warning">Voltar</button>
    </a>
    
    <hr>
    
    
    
    <form class="row g-3" method="post">
        <div class="col-md-3">
            <label class="form-label" for="ba">Ba:</label>
            <input class="form-control form-control-sm" name="ba" id="ba" value="{{ba}}" type="text"  disabled/>
        </div>
        <div class="col-md-2">
            <label class="form-label" for="backbone">Backbone:</label>
            <input class="form-control form-control-sm" name="backbone" id="backbone" value="{{backbone}}" type="text"  disabled/>
        </div>
        <div class="col-md-2">
            <label class="form-label" for="mes">Mês:</label>
            <input class="form-control form-control-sm" name="mes" id="mes" value="{{mes}}" type="text" disabled/>
        </div>
        <div class="col-md-1">
            <label class="form-label" for="estacao">Estação:</label>
            <input class="form-control form-control-sm" name="estacao" id="estacao" value="{{estacao}}" type="text" disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="mnemonico">Mnt fo:</label>
            <input class="form-control form-control-sm" name="mnemonico" id="mnemonico" value="{{mnemonico}}" type="text" disabled/>
        </div>
        <div class="col-md-1">
            <label class="form-label" for="indicador_fibra">Indicador:</label>
            <input class="form-control form-control-sm" name="indicador_fibra" id="indicador_fibra" value="{{indicador_fibra}}" type="text" disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="abertura">Abertura:</label>
            <input class="form-control form-control-sm" name="abertura" id="abertura" value="{{abertura}}" type="text" disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="promessa">Promessa:</label>
            <input class="form-control form-control-sm" name="promessa" id="promessa" value="{{promessa}}" type="text" disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="proximo_acionamento">Acionamento:</label>
            <input class="form-control form-control-sm" name="proximo_acionamento" id="proximo_acionamento" value="{{proximo_acionamento}}" type="text" disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="baixa">Baixa:</label>
            <input class="form-control form-control-sm" name="baixa" id="baixa" value="{{baixa}}" type="text" disabled/>
        </div>
        <div class="col-md-1">
            <label class="form-label" for="sla">Sla:</label>
            <input class="form-control form-control-sm" name="sla" id="sla" value="{{sla}}" type="text" disabled/>
        </div>
        <div class="col-md-1">
            <label class="form-label" for="cod_atividade">Cod:</label>
            <input class="form-control form-control-sm" name="cod_atividade" id="cod_atividade" value="{{cod_atividade}}" type="text" disabled/>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="obsoi">Obs oi:</label>
            <input class="form-control form-control-sm" name="obsoi" id="obsoi" value="{{obsoi}}" row="4" type="text" disabled/>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="ga">Ga:</label>
            <input class="form-control form-control-sm" name="ga" id="ga" value="{{ga}}" type="text" disabled/>
        </div>
    
        <hr>

        <hr>

        <div class="col-md-2">
            <label for="nomecabo" class="form-label">Nome N° cabo:</label>
            <input class="form-control form-control-sm" name="nomecabo" id="nomecabo" value="{{nomecabo}}" type="text" disabled/>
        </div>
        <div class="col-md-2">
            <label for="entre_local" class="form-label">Entre Localidades:</label>
            <input class="form-control form-control-sm" name="entre_local" id="entre_local" value="{{entre_local}}" type="text" disabled/>
        </div>
        <div class="col-md-2">
            <label for="numero_cis" class="form-label">N° Cis:</label>
            <input type="text" class="form-control form-control-sm" name="numero_cis" id="numero_cis" value="{{numero_cis}}" disabled>
        </div>
        <div class="col-md-2">
            <label for="descricao_trecho" class="form-label">Descrição do trecho:</label>
            <input type="text" class="form-control form-control-sm" name="descricao_trecho" id="descricao_trecho" value="{{descricao_trecho}}" disabled>
        </div>
        <div class="col-md-2">
            <label for="tipo_utilizacao" class="form-label">Tipo utilização:</label>
            <input type="text" class="form-control form-control-sm" name="tipo_utilizacao" id="tipo_utilizacao" value="{{tipo_utilizacao}}" disabled>
        </div>
        <div class="col-md-2">
            <label for="rede_metalica" class="form-label">Rede metalica:</label>
            <input type="text" class="form-control form-control-sm" name="rede_metalica" id="rede_metalica" value="{{rede_metalica}}" disabled>
        </div>
        <div class="col-md-3">
            <label for="causa_rompimento" class="form-label">Causa rompimento:</label>
            <input type="text" class="form-control form-control-sm" name="causa_rompimento" id="causa_rompimento" value="{{causa_rompimento}}" disabled>
        </div>
        <div class="col-md-3">
            <label for="sub_causa" class="form-label">Sub causa:</label>
            <input type="text" class="form-control form-control-sm" name="sub_causa" id="sub_causa" value="{{sub_causa}}" disabled>
        </div>
        <div class="col-md-3">
            <label for="desdobramento" class="form-label">Desdobramento:</label>
            <input type="text" class="form-control form-control-sm" name="desdobramento" id="desdobramento" value="{{desdobramento}}" disabled>
        </div>
        <div class="col-2">
            <label for="ba_comum" class="form-label">BA causa comun:</label>
            <input type="text" class="form-control form-control-sm" name="ba_comum" id="ba_comum" value="{{ba_comum}}" disabled>
        </div>
        <div class="col-2">
            <label for="ha_pendencia35d" class="form-label">Há pendencia 35d:</label>
            <input type="text" class="form-control form-control-sm" name="ha_pendencia35d" id="ha_pendencia35d" value="{{ha_pendencia35d}}" disabled>
        </div>
        <div class="col-md-2">
            <label for="numero_jm" class="form-label">Num jm:</label>
            <input type="text" class="form-control form-control-sm" name="numero_jm" id="numero_jm" value="{{numero_jm}}" disabled>
        </div>
        <div class="col-md-3">
            <label for="data_abertura" class="form-label">Data abertura janela:</label>
            <input type="date" class="form-control form-control-sm" name="data_abertura" id="data_abertura" value="{{data_abertura}}" disabled>
        </div>
        <div class="col-3">
            <label for="prev_regularizacao" class="form-label">Prev regularização:</label>
            <input type="date" class="form-control form-control-sm" name="prev_regularizacao" id="prev_regularizacao" value="{{prev_regularizacao}}" disabled>
        </div>
        <div class="col-6">
            <label for="informe_pendencia" class="form-label">Informe pendencia:</label>
            <input type="text" class="form-control form-control-sm" name="informe_pendencia" id="informe_pendencia" value="{{informe_pendencia}}"disabled >
        </div>
        <div class="col-6">
            <label for="material_pendencia" class="form-label">Material pendencia:</label>
            <input type="text" class="form-control form-control-sm" name="material_pendencia" id="material_pendencia" value="{{material_pendencia}}" disabled>
        </div>
        <div class="col-6">
            <label for="resp_pendendencia" class="form-label">Resp pendencia 35d:</label>
            <input type="text" class="form-control form-control-sm" name="resp_pendendencia" id="resp_pendendencia" value="{{resp_pendencia}}"  disabled>
        </div>
        <div class="col-md-1">
            <label class="form-label" for="prazo">Prazo:</label>
            <input class="form-control form-control-sm" name="prazo" id="prazo" value="{{prazo}}" type="text"  disabled/>
        </div>
        <div class="col-md-5">
            <label class="form-label" for="justificar_prazo">Justificar fora do prazo:</label>
            <input class="form-control form-control-sm" name="justificar_prazo" id="justificar_prazo" value="{{justificar_prazo}}" type="text" required disabled/>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="cirq_cli_envol">Cirq cli envol:</label>
            <input class="form-control form-control-sm" name="cirq_cli_envol" id="cirq_cli_envol" value="{{cirq_cli_envol}}" type="text" required disabled/>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="descricao_ocorrido">descrição ocorrido:</label>
            <input class="form-control form-control-sm" name="descricao_ocorrido" id="descricao_ocorrido" value="{{descricao_ocorrido}}" type="text" required disabled/>
        </div>
        <hr>
        <div class="col-md-3">
            <label class="form-label" for="tempo_cgr">Tempo CGR/ENC:</label>
            <input class="form-control form-control-sm" name="tempo_cgr" id="tempo_cgr" value="{{tempo_cgr}}" type="text" required disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="numero_bo">Numero prot bo:</label>
            <input class="form-control form-control-sm" name="numero_bo" id="numero_bo" value="{{numero_bo}}" type="text"disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="nao_abertura_bo">Obs não abertura bo:</label>
            <input class="form-control form-control-sm" name="nao_abertura_bo" id="nao_abertura_bo" value="{{nao_abertura_bo}}" type="text"disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="remanejo_fibra">Remanejo de fibra de:</label>
            <input class="form-control form-control-sm" name="remanejo_fibra" id="remanejo_fibra" value="{{remanejo_fibra}}" type="text"disabled/>
        </div>
        <div class="col-md-2">
            <label class="form-label" for="usou_cabo">Usou cabo?</label>
            <input class="form-control form-control-sm" name="usou_cabo" id="usou_cabo" value="{{usou_cabo}}" type="text"disabled/>
        </div>
        <div class="col-md-2">
            <label class="form-label" for="lote_cabo">Lote cabo:</label>
            <input class="form-control form-control-sm" name="lote_cabo" id="lote_cabo" value="{{lote_cabo}}" type="text"disabled/>
        </div>
        <div class="col-md-2">
            <label class="form-label" for="metro_cabo">Metro cabo utilizado:</label>
            <input class="form-control form-control-sm" name="metro_cabo" id="metro_cabo" value="{{metro_cabo}}" type="text"disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="cod_sap_cabo">Codigo sap cabo:</label>
            <input class="form-control form-control-sm" name="cod_sap_cabo" id="cod_sap_cabo" value="{{cod_sap_cabo}}" type="text"disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="coordenadas_cabo">Coordenadas cabo:</label>
            <input class="form-control form-control-sm" name="coordenadas_cabo" id="coordenadas_cabo" value="{{coordenadas_cabo}}" type="text" disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="quantidade_cx">Quantidade caixa usada:</label>
            <input class="form-control form-control-sm" name="quantidade_cx" id="quantidade_cx" value="{{quantidade_cx}}" type="text" disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="numero_emenda">Numero emenda ENPE:</label>
            <input class="form-control form-control-sm" name="numero_emenda" id="numero_emenda" value="{{numero_emenda}}" type="text" disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="coordenadas_enpe">Coordenadas ENPE:</label>
            <input class="form-control form-control-sm" name="coordenadas_enpe" id="coordenadas_enpe" value="{{coordenadas_enpe}}" type="text" disabled/>
        </div>
        <div class="col-md-3">
            <label class="form-label" for="endereco_enpe">Endereço ENPE/CABO:</label>
            <input class="form-control form-control-sm" name="endereco_enpe" id="endereco_enpe" value="{{endereco_enpe}}" type="text" disabled/>
        </div>
        <div class="mb-3">
            <label for="add_croqui" class="form-label">
                <h6>CROQUI:</h6>
            </label>
            <input class="form-control form-control-sm" style="height:80px; width: 400px ; " type="image" name="add_croqui" id="add_croqui" value="{{add_croqui}}" multiple >
        </div>
        <div class="col-md-2">
            <label class="form-label" for="supervisor">SUPERVISOR:</label>
            <input class="form-control form-control-sm" name="supervisor" id="supervisor" value="{{supervisor}}" type="text" disabled/>
        </div>
        <hr class="my-5">

    </form>
</div>