<div class="container my-3">
    <h3>Boletim de Análise</h3>

    <hr>
    
    <a href="{{URL}}/cadastros/boletimAnalise/new">
        <button type="button" class="btn btn-success">Cadastrar BA</button>
    </a>
    
    <hr>
    
    {{status}}
    <div class="" style="max-width: 100% ; height: 400px; overflow: scroll; font-size:0.675em; cursor:pointer;">
    <table class="table table-bordered table-hover table-striped table-responsive-sm text-nowrap" >
        <thead>
            <tr>
                <th>BA</th>
                <th>BACKBONE</th>
                <th>GA</th>
                <th>MES</th>
                <th>ESTACÃO</th>
                <th>MNEMONICO</th>  
                <th>ABERTURA</th>
                <th>PROMESSA</th>
                <th>ACIONAMENTO</th>
                <th>BAIXA</th>
                <th>ACÕES</th>
                <th>INDICADOR</th>
                <th>SLA</th>
                <th>COD</th>               
                <th>NOME_CABO</th>
                <th>ENTRE_LOCAL</th>
                <th>NUMERO_CIS</th>
                <th>DESCRIÇÃO_TRECHO</th>
                <th>TIPO_UTILIZAÇÃO</th>
                <th>REDE_METALICA</th>
                <th>CAUSA_ROMPIMENTO</th>
                <th>SUB_CAUSA</th>
                <th>DESDOBRAMENTO</th>
                <th>BA_COMUM</th>
                <th>HA_PENDENCIA35d</th>
                <th>NECESSARIO_JM</th>
                <th>NUMERO_JM</th>
                <th>DATA_ABERTURA</th>
                <th>PREV_REGULARIZAÇÃO</th>
                <th>INFORME_PENDENCIA</th>
                <th>MATERIAL_PENDENCIA</th>
                <th>RESP_PENDENCIA</th>
                <th>PRAZO</th>
                <th>JUSTIFICAR_PRAZO</th>
                <th>CIRQ_CLI_ENVOL</th>
                <th>DESCRIÇÃO_OCORRIDO</th>
                <th>TEMPO_CGR</th>
                <th>NUMERO_BO</th>
                <th>NÃO_ABERTURA_BO</th>
                <th>REMANEJO_FIBRA</th>
                <th>USOU CABO</th>
                <th>LOTE_CABO</th>
                <th>METRO_CABO</th>
                <th>COD_SAP_CABO</th>
                <th>COORDENADAS_CABO</th>
                <th>QUANTIDADE_CX</th>
                <th>NUMERO_EMENDA</th>
                <th>COORDENADAS_ENPE</th>
                <th>ENDEREÇO_ENPE</th>
                <th>ADD_CROQUI</th>
                <th>OBSOI</th>
                <th>SUPERVISOR</th>
            </tr>
        </thead>
        <tbody>
            {{itens}}
        </tbody>
    </table>
    </div>
    {{pagination}}
</div>
