<tr>
    <td>{{ba}}</td>
    <td>{{backbone}}</td>
    <td>{{mes}}</td>
    <td>{{estacao}}</td>
    <td>{{mnemonico}}</td>
    <td>{{indicador_fibra}}</td>
    <td>{{abertura}}</td>
    <td>{{promessa}}</td>
    <td>{{proximo_acionamento}}</td>
    <td>{{baixa}}</td>
    <td>{{sla}}</td>
    <td>{{cod_atividade}}</td>
    <td>{{ga}}</td>
    <td>{{nomecabo}}</td>
    <td>{{entre_local}}</td>
    <td>
        <a href="{{URL}}/cadastros/boletimAnalise/{{ba}}/edit">
            <button type="button" class="btn btn-primary btn-sm">Editar</button>
        </a>
        <a href="{{URL}}/cadastros/boletimAnalise/{{ba}}/gerar_pdf">
            <button type="button" class="btn btn-success btn-sm">PDF</button>
        </a>
    </td>
    <td>{{numero_cis}}</td>
    <td>{{descricao_trecho}}</td>
    <td>{{tipo_utilizacao}}</td>
    <td>{{rede_metalica}}</td>
    <td>{{causa_rompimento}}</td>
    <td>{{sub_causa}}</td>
    <td>{{desdobramento}}</td>
    <td>{{ba_comum}}</td>
    <td>{{ha_pendencia35d}}</td>
    <td>{{necessario_jm}}</td>
    <td>{{numero_jm}}</td>
    <td>{{data_abertura}}</td>
    <td>{{prev_regularizacao}}</td>
    <td>{{informe_pendencia}}</td>
    <td>{{material_pendencia}}</td>
    <td>{{resp_pendencia}}</td>
    <td>{{prazo}}</td>
    <td>{{justificar_prazo}}</td>
    <td>{{Cirq_cli_envol}}</td>
    <td>{{descricao_ocorrido}}</td>
    <td>{{tempo_cgr}}</td>
    <td>{{numero_bo}}</td>
    <td>{{nao_abertura_bo}}</td>
    <td>{{remanejo_fibra}}</td>
    <td>{{usou_cabo}}</td>
    <td>{{lote_cabo}}</td>
    <td>{{metro_cabo}}</td>
    <td>{{cod_sap_cabo}}</td>
    <td>{{coordenadas_cabo}}</td>
    <td>{{quantidade_cx}}</td>
    <td>{{numero_emenda}}</td>
    <td>{{coordenadas_enpe}}</td>
    <td>{{endereco_enpe}}</td>
    <td>{{add_croqui}}</td>
    <td>{{obsoi}}</td>
    <td>{{supervisor}}</td>
    
</tr>
