<tr>
    <td>{{ba}}</td>
    <td>{{enpe_e_emf_repasse}}</td>
    <td>{{localidade}}</td>
    <td>
        <a href="{{URL}}/mascara/mascaraEncerramento/{{ba}}/edit">
            <button type="button" class="btn btn-primary btn-sm">Editar</button>
        </a>
        <a href="{{URL}}/mascara/mascaraEncerramento/{{ba}}/delete">
            <button type="button" class="btn btn-danger btn-sm">Excluir</button>
        </a>
    </td>
    <td>{{estacao_central}}</td>
    <td>{{ramificacao}}</td>
    <td>{{trecho}}</td>
    <td>{{quantidade_de_emendas}}</td>
    <td>{{codigo_caixa_emenda01}}</td>
    <td>{{numero_emenda01}}</td>
    <td>{{endereço_emenda01}}</td>
    <td>{{referencia_emenda01}}</td>
    <td>{{distancia_emenda01}}</td>
    <td>{{coordenada_emenda01}}</td>
    <td>{{aplicou_segunda_emenda}}</td>
    <td>{{codigo_caixa_emenda02}}</td>
    <td>{{numero_emenda02}}</td>
    <td>{{endereço_emenda02}}</td>
    <td>{{referencia_emenda02}}</td>
    <td>{{distancia_emenda02}}</td>
    <td>{{coordenada_emenda02}}</td>
    <td>{{tipo_de_emenda}}</td>
    <td>{{codigo_numero_cabo}}</td>
    <td>{{modelo_emenda}}</td>
    <td>{{fabricante}}</td>
    <td>{{quantidade_fibra_cabo}}</td>
    <td>{{quantidade_fusao_realizada}}</td>
    <td>{{sistema_afetado}}</td>
    <td>{{acaoCorretiva}}</td>
    <td>{{nome_completo}}</td>
    <td>{{re}}</td>
    <td>{{observacoes}}</td>
    <td>{{problema_encontrado}}</td>
    <td>{{causa_raiz}}</td>
    <td>{{ro_cis}}</td>
    <td>{{causador_dano}}</td>
    <td>{{miscelaneas}}</td>
    <td>{{foto_antes}}</td>
    <td>{{foto_depois}}</td>

</tr>
