<script>


function exibir_campo( el ){
    var inputEmenda = document.getElementById('codigo_caixa_emenda01');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('codigo_caixa_emenda001');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('numero_emenda001');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('numero_emenda01');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('endereço_emenda01');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('endereço_emenda001');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('referencia_emenda01');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('referencia_emenda001');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('distancia_emenda01');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('distancia_emenda001');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('coordenada_emenda01');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('coordenada_emenda001');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('aplicou_segunda_emenda');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('aplicou_segunda_emenda1');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
}
function exibir_campo2( el ){
    var inputEmenda = document.getElementById('codigo_caixa_emenda002');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('codigo_caixa_emenda02');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('numero_emenda02');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('numero_emenda002');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('endereço_emenda02');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('endereço_emenda002');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('referencia_emenda02');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('referencia_emenda002');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('distancia_emenda02');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('distancia_emenda002');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('coordenada_emenda02');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }
    var inputEmenda = document.getElementById('coordenada_emenda002');
    if (el.value === 'Sim'){ 
        inputEmenda.style.display = "Block";
    }
    else {
        inputEmenda.style.display = "none";
    }

}
 var acaoCorretiva = document.getElementById("acaoCorretiva");
 var option_acaoCorretiva = document.createElement("option");
 option_acaoCorretiva.value = "2";
 option_acaoCorretiva.text = "teste";
 acaoCorretiva.add(option_acaoCorretiva,acaoCorretiva[2]);



</script>

<div class="container my-3">
    <h3>{{title}}</h3>

    <hr>
    
    <a href="{{URL}}/cadastros/mascaraEncerramento">
        <button type="button" class="btn btn-warning">Voltar</button>
    </a>
    
    <hr>
    
    {{status}}
    
                <form class="row g-3 needs-validation" method="post">
                    <div class="col-md-3">
                        <label for="enpe_e_emf_repasse" class="form-label">ENPE/E/EMF/REPASSE:</label>
                        <select class="form-select form-select-sm" name="enpe_e_emf_repasse" id="enpe_e_emf_repasse" aria-label=".form-select-sm example" required>
                            <option value='' ></option>
                            <option value="ENPE" >ENPE(APLICOU MATERIAL)</option>
                            <option value="E" >E(NÃO APLICOU MATERIAL)</option>
                            <option value="EMF" >EMF(REMANEJO DE FIBRA CABO)</option>
                            <option value="REPASSE" >REPASSE(OU OUTRA AREA)</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="ba">Ba:</label>
                        <input class="form-control form-control-sm" name="ba" id="ba" type="text" required />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="localidade">Localidade:</label>
                        <input class="form-control form-control-sm" name="localidade" id="localidade" type="text" required />
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="estacao_central">Estação/Central:</label>
                        <input class="form-control form-control-sm" name="estacao_central" id="estacao_central" type="text" required />
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="ramificacao">Ramificação:</label>
                        <select class="form-select form-select-sm"  id="ramificacao" name="ramificacao" aria-label=".form-select-sm example" required>
                            <option></option>
                            <option value="BBN (5Hrs)">BBN (5Hrs)</option>
                            <option value="BBA (7Hrs)">BBA (7Hrs)</option>  
                            <option value="ORA (7Hrs)">ORA (7Hrs)</option> 
                            <option value="B2B">B2B</option>         
                          </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="trecho">Trecho:</label>
                        <input class="form-control form-control-sm" name="trecho" id="trecho" type="text"  required/>
                    </div>
                    <div class="col-2">
                        <label for="quantidade_de_emendas" class="form-label">Houve emenda?</label>
                        <select class="form-select form-select-sm" name="quantidade_de_emendas" id="quantidade_de_emendas" onchange='exibir_campo(this)' aria-label=".form-select-sm example" required>
                            <option></option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>                         
                        </select>
                    </div>  
                    <div class="col-md-2">
                        <label class="form-label" for="codigo_caixa_emenda001" id="codigo_caixa_emenda001" style="display:none;" >Cod cx emenda01:</label>
                        <input class="form-control form-control-sm" name="codigo_caixa_emenda01" id="codigo_caixa_emenda01" style="display:none;" type="text"  />
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="numero_emenda001" id="numero_emenda001" style="display:none;">Número emenda01:</label>
                        <input class="form-control form-control-sm" name="numero_emenda01" id="numero_emenda01" style="display:none;" type="text"  />
                    </div>                 
                    <div class="col-md-2">
                        <label class="form-label" for="endereço_emenda001" id="endereço_emenda001" style="display:none;">Endereço emenda01:</label>
                        <input class="form-control form-control-sm" name="endereço_emenda01" id="endereço_emenda01" style="display:none;" type="text" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="referencia_emenda001" id="referencia_emenda001" style="display:none;">Referência emenda01:</label>
                        <input class="form-control form-control-sm" name="referencia_emenda01" id="referencia_emenda01" style="display:none;" type="text" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="distancia_emenda001" id="distancia_emenda001" style="display: none;">Distancia emenda01:</label>
                        <input class="form-control form-control-sm" name="distancia_emenda01" id="distancia_emenda01" style="display: none;" type="text" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="coordenada_emenda001" id="coordenada_emenda001" style="display: none;">Coordenada emenda01:</label>
                        <input class="form-control form-control-sm" name="coordenada_emenda01" id="coordenada_emenda01" style="display: none;" type="text" />
                    </div>
                    <div class="col-2">
                        <label for="aplicou_segunda_emenda1" class="form-label" id="aplicou_segunda_emenda1" style="display: none;">Houve segunda emenda?</label>
                        <select class="form-select form-select-sm" name="aplicou_segunda_emenda" id="aplicou_segunda_emenda" style="display: none;" onchange='exibir_campo2(this)' aria-label=".form-select-sm example">
                            <option selected=""></option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>                         
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="codigo_caixa_emenda002" id="codigo_caixa_emenda002" style="display: none;">Cod cx emenda02:</label>
                        <input class="form-control form-control-sm" name="codigo_caixa_emenda02" id="codigo_caixa_emenda02" style="display: none;" type="text"  />
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="numero_emenda002" id="numero_emenda002" style="display: none;">Número emenda02:</label>
                        <input class="form-control form-control-sm" name="numero_emenda02" id="numero_emenda02" style="display: none;" type="text"  />
                    </div>                 
                    <div class="col-md-2">
                        <label class="form-label" for="endereço_emenda002" id="endereço_emenda002" style="display: none;">Endereço emenda02:</label>
                        <input class="form-control form-control-sm" name="endereço_emenda02" id="endereço_emenda02" style="display: none;" type="text" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="referencia_emenda002" id="referencia_emenda002" style="display: none;">Referência emenda02:</label>
                        <input class="form-control form-control-sm" name="referencia_emenda02" id="referencia_emenda02" style="display: none;" type="text" />
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="distancia_emenda002" id="distancia_emenda002" style="display: none;">Distancia emenda02:</label>
                        <input class="form-control form-control-sm" name="distancia_emenda02" id="distancia_emenda02" style="display: none;" type="text"/>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="coordenada_emenda002" id="coordenada_emenda002" style="display: none;">Coordenada emenda02:</label>
                        <input class="form-control form-control-sm" name="coordenada_emenda02" id="coordenada_emenda02" style="display: none;" type="text" />
                    </div> 
                    <div class="col-md-2">
                        <label class="form-label" for="tipo_de_emenda" >Tipo de emenda:</label>
                        <select class="form-select form-select-sm" id="tipo_de_emenda" name="tipo_de_emenda">
                            <option></option>
                            <option value="Aéreo">Aéreo</option>
                            <option value="Canalizado">Canalizado</option>  
                            <option value="Enterrado">Enterrado</option> 
                            <option value="Interno cliente">Interno cliente</option>         
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="modelo_emenda" class="form-label">Modelo emenda:</label>
                        <select class="form-select form-select-sm" name="modelo_emenda" id="modelo_emenda" aria-label=".form-select-sm example" >
                            <option></option>
                            <option value="12 Fibras">12 Fibras</option>
                            <option value="36 Fibras">36 Fibras</option>  
                            <option value="72 Fibras">72 Fibras</option> 
                            <option value="144 Fibras">144 Fibras</option>  
                            <option value="288 Fibras">288 Fibras</option> 
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="codigo_numero_cabo">Código numero cabo:</label>
                        <input class="form-control form-control-sm" name="codigo_numero_cabo" id="codigo_numero_cabo" type="text" />
                    </div>
                    <div class="col-md-2">
                        <label for="fabricante" class="form-label">Fabricante:</label>
                        <select class="form-select form-select-sm" name="fabricante" id="fabricante" aria-label=".form-select-sm example">
                            <option></option>
                            <option value="Bargoa">Bargoa</option>
                            <option value="Quadrac">Quadrac</option>  
                            <option value="Fibracen">Fibracen</option> 
                            <option value="Plp">Plp</option> 
                            <option value="Fosc100">Fosc100</option> 
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="quantidade_fibra_cabo" class="form-label">Qtd fibra do cabo :</label>
                        <select class="form-select form-select-sm" name="quantidade_fibra_cabo" id="quantidade_fibra_cabo" aria-label=".form-select-sm example">
                            <option></option>
                            <option value="12 Fibras">12 Fibras</option>
                            <option value="36 Fibras">36 Fibras</option>  
                            <option value="72 Fibras">72 Fibras</option> 
                            <option value="144 Fibras">144 Fibras</option>  
                            <option value="288 Fibras">288 Fibras</option> 
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="quantidade_fusao_realizada" class="form-label">Qtd fusão realizada:</label>
                        <select class="form-select form-select-sm" name="quantidade_fusao_realizada" id="quantidade_fusao_realizada" aria-label=".form-select-sm example">
                            <option></option>
                            <option value="12 Fusões">12 Fusões</option>
                            <option value="24 Fusões">24 Fusões</option>
                            <option value="36 Fusões">36 Fusões</option>
                            <option value="72 Fusões">72 Fusões</option>
                            <option value="144 Fusões">144 Fusões</option>
                            <option value="288 Fusões">288 Fusões</option>
                            <option value="576 Fusões">576 Fusões</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="sistema_afetado" class="form-label">Sistema afetado:</label>
                        <select class="form-select form-select-sm" name="sistema_afetado" id="sistema_afetado" aria-label=".form-select-sm example">
                            <option></option>
                            <option value="DLU">DLU</option>
                            <option value="DSLAN">DSLAN</option>
                            <option value="Site Móvel">Site Móvel</option>
                            <option value="Anel">Anel</option>
                            <option value="Link">Link</option>
                            <option value="Barramento">Barramento</option>
                            <option value="B2B">B2B</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="acaoCorretiva" class="form-label">Ação corretiva executada:</label>
                        <select class="form-select form-select-sm" name="acaoCorretiva" id="acaoCorretiva" aria-label=".form-select-sm example">
                            <option></option>
                            <option value="Adaptador DGO trocado">Adaptador DGO trocado</option>
                            <option value="Lançado cabo aplicado emenda">Lançado cabo aplicado emenda</option>
                            <option value="Liberado cabo (Croca/dobra)">Liberado cabo (Croca/dobra)</option>
                            <option value="Pigtail trocado">Pigtail trocado</option>
                            <option value="Refeito fusão">Refeito fusão</option>
                            <option value="Refeito emenda">Refeito emenda</option>
                            <option value="Repuxado sobra aplicado emenda nova">Repuxado sobra aplicado emenda nova</option>
                            <option value="Repuxado sobra e refeito emenda">Repuxado sobra e refeito emenda</option>
                            <option value="Limpeza conexões">Limpeza conexões</option>
                            <option value="Encontrado ok">Encontrado ok</option>
                            <option value="Remanejo de Fibra/Cabo">Remanejo de Fibra/Cabo</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="nome_completo">Nome completo:</label>
                        <input class="form-control form-control-sm" name="nome_completo" id="nome_completo" type="text" required/>
                    </div>
                    <div class="col-md-1">
                        <label class="form-label" for="re">RE:</label>
                        <input class="form-control form-control-sm" name="re" id="re" type="text" required/>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="observacoes">Observações:</label>
                        <input class="form-control form-control-sm" name="observacoes" id="observacoes" type="text"/>
                    </div>
                    <div class="col-md-3">
                        <label for="problema_encontrado" class="form-label">Problema encontrado:</label>
                        <select class="form-select form-select-sm" name="problema_encontrado" id="problema_encontrado" aria-label=".form-select-sm example">
                            <option></option>
                            <option value="Ação de terceiros">Ação de terceiros</option>
                            <option value="Carga alta/Cabo baixo">Carga alta/Cabo baixo</option>
                            <option value="Chuva tempestade">Chuva tempestade</option>
                            <option value="Degradação">Degradação</option>
                            <option value="Descarga eletrica">Descarga eletrica</option>
                            <option value="Inseto/Roedor">Inseto/Roedor</option>
                            <option value="Causa comum">Causa comum</option>
                            <option value="Rompimento parcial">Rompimento parcial</option>
                            <option value="Encontrado ok">Encontrado ok</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="causa_raiz" class="form-label">Causa raiz:</label>
                        <select class="form-select form-select-sm" name="causa_raiz" id="causa_raiz" aria-label=".form-select-sm example">
                            <option></option>
                          <option value="Ação de terceiros">Acidente automobilistico</option>
                          <option value="Carga alta/Cabo baixo">Ataque de roedores</option>
                          <option value="Chuva tempestade">Ataque insetos</option>
                          <option value="Degradação">Atividade agricola </option>
                          <option value="Descarga eletrica">BA solicitado vinculo</option>
                          <option value="Inseto/Roedor">Causa comum</option>
                          <option value="Causa comum">Erro CGR</option>
                          <option value="Rompimento parcial">Cordão</option>
                          <option value="Encontrado ok">Croca/Dobra cabo</option>
                          <option value="Ação de terceiros">Degradação </option>
                          <option value="Carga alta/Cabo baixo">Descarga atmosférica</option>
                          <option value="Chuva tempestade">Desligamento cia Energia</option>
                          <option value="Degradação">DGO </option>
                          <option value="Descarga eletrica">Encontrado ok</option>
                          <option value="Inseto/Roedor">Enlace</option>
                          <option value="Causa comum">Erosão</option>
                          <option value="Rompimento parcial">Escavação</option>
                          <option value="Encontrado ok">Fogo em mata</option>
                          <option value="Chuva tempestade">Fogo em veiculo</option>
                          <option value="Degradação">Fogo transformador de energia </option>
                          <option value="Descarga eletrica">Furto</option>
                          <option value="Inseto/Roedor">Furto metálico</option>
                          <option value="Causa comum">Fusão / protetor / aberta</option>
                          <option value="Rompimento parcial">Não identificado</option>
                          <option value="Encontrado ok">Obra municipal</option>
                          <option value="Ação de terceiros">Obras particulares </option>
                          <option value="Carga alta/Cabo baixo">Pigtail</option>
                          <option value="Chuva tempestade">Poda vegetação</option>
                          <option value="Degradação">Queda de arvore </option>
                          <option value="Descarga eletrica">Queda poste</option>
                          <option value="Inseto/Roedor">Tiro</option>
                          <option value="Causa comum">Vandalismo</option>
                          <option value="Rompimento parcial">Veiculo com altura fora do padrão</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="ro_cis">Ro/Cis:</label>
                        <input class="form-control form-control-sm" name="ro_cis" id="ro_cis" type="text" required/>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label" for="causador_dano">Causador dano:</label>
                        <input class="form-control form-control-sm" name="causador_dano" id="causador_dano" type="text" />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="form-label" for="miscelaneas">Miscelaneas:</label>
                        <textarea class="form-control form-control-sm" name="miscelaneas" id="miscelaneas" rows="4" ></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="foto_antes" class="form-label">
                            <h6>ADICIONAR FOTO ANTES:</h6>
                        </label>
                        <input class="form-control form-control-sm" type="file" name="foto_antes" id="foto_antes">
                    </div>
                    <div class="mb-3">
                        <label for="foto_depois" class="form-label">
                            <h6>ADICIONAR FOTO DEPOIS:</h6>
                        </label>
                        <input class="form-control form-control-sm" type="file" name="foto_depois" id="foto_depois">
                    </div>
                    
                    <hr class="my-5">

                    <button class="w-100 btn btn-success btn-lg" type="submit">Enviar Cadastro</button>
                </form>   
</div>